@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;1,900&display=swap');

h2{
    background-color: #e6ab3c;
    padding-left: 20px;
}

ul{
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}


b {
    text-decoration: underline;
    font-weight: 900;
    padding: 0;
}