@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;1,900&display=swap');

h1{
    display: flex;

    margin-top: 100px;
    padding-left: 10px;
    font-size: 75px;

    flex-direction: column;
    align-items: center;
}

h2{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}

#reColour{
    background-color: #e6ab3c;
}

ul li{
    margin-top: 20px;
    list-style-type: none;
    background-color: #e6ab3c;
}

b{
    text-decoration: underline;
    font-weight: 900;
}