@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;1,900&display=swap');

h2{
    background-color: #e6ab3c;
}

ul{
    background-color: #e6ab3c;

}

ul li {
    list-style-type: none;
}


b {
    text-decoration: underline;
    font-weight: 900;
}