@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;1,900&display=swap');



footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #333333;
}

footer ul li {
    list-style: none;
    text-align: center;
    color: #FFFFFF
}