@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;1,900&display=swap');

h1 {
    font-family: "Bebas Neue";
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6ab3c;
}


footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #333333;
}

footer li {
    list-style: none;
    text-align: center;
    color: #FFFFFF
}